//@import 'normalize';

/* Fonts
   ========================================================================== */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400);
html,
button,
input,
select,
textarea,
.pure-g [class *= "pure-u"] {
  font-family: 'Amatic SC', cursive;

}
/* Defaults
   ========================================================================== */

html {
  background-color: $white;
  @include font-size($base-root-size);
  line-height: 1.5;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: 'Amatic SC', cursive;
}

body {
  overflow: hidden;
}

::-moz-selection {

  @include selection();
}
::selection {

  @include selection();
}
::-webkit-input-placeholder {

  @include placeholder();
}
::-moz-placeholder {

  @include placeholder();
}
:-ms-input-placeholder {
  @include placeholder();

}
img.pure-img {
  vertical-align: middle;
  max-width: 60%;
  display: inline;

}
code {
  color: $red;

}
h3 {
  font-weight: normal;
  @include font-size(22);

}
.pure-menu.pure-menu-horizontal {
  background: $silver;

}
a {
  color: $edmundText;
  text-decoration: none;
  display: flex;
  position: relative;
  z-index: 1;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  //line-height: inherit;
}
a:focus,
a:hover {
  color: darken($edmundText, 15);
  text-decoration: none;

}
a.pure-button:focus,
a.pure-button:hover {
  color: #fff;

}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    display: inline-block;
  }
}

pre {
  code {
    color: $black;
    background-color: $silver;
    border-width: 1px;
    border-style: solid;
    border-color: $gray;
    display: block;
    padding: 0.5em;
  }

}
h4 {
  @include font-size(21);
}

.page-footer {
  line-height: 0;
  background-color: $black;
  color: $white;
  font-size: 10px;
  li {
    display:inline-block;
    padding: 0 2em 0 0;
  }
}

.page-footer a {
  color: $white;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.page-footer a:hover {
    color: $gray;
}

.main-content {
  display: block;
  position: fixed;
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  height: 100%;
  min-height: 100%;
  vertical-align: baseline;
  background-image: url('../assets/images/bg2.jpg');
  background-position: center;
  background-size: cover;
  -webkit-background-size: cover;
  //background: $edmund;
}


.social-bar {
  position: absolute;
  font-size: 3em;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
}

#itunes {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 75%;
  width: 45%;
  margin: auto;
  border-radius: 50%;
  display: inline-block;

}

.kulaNav
{
  background-color: rgba(0,0,0,0);
  height: 70px;
}

.navlink
{
  font-size: 4em;
  position: absolute;
  background-size: contain;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  display: block;
  background-repeat: no-repeat;
}

.smallPhoneNav .navlink
{
  width: 90px;
  height: 30px;
}

.smallPhoneNav #livenav
{
  width: 90px;
  height: 40px;
}

.smallPhoneNav #videonav
{
  width: 80px;
  height: 30px;
}

#musicnav
{
  top: 1.6%;
  left: 1%;
}

#livenav
{
  bottom: 1%;
  left: 1%;

}

#videonav
{
  bottom: 1%;
  right: 1%;
}

#socialiconsholder
{
  position: absolute;
  top: 2%;
  right: 0.5%;
}

.socialIcon
{
  display: inline-block;
  width: 45px;
  height: 50px;
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
}

.smallPhoneIcons .socialIcon
{
  width: 30px;
  height: 30px;
  /*background-size: 30px;*/
}

.facebookIcon
{
  background-image: url('../assets/icons/fb.png');

}

.twitterIcon
{
  background-image: url('../assets/icons/twitter.png');
}

.emailIcon
{
  background-image: url('../assets/icons/mail.png');
}

.instaIcon
{
  background-image: url('../assets/icons/insta.png');
}

.soundcloudIcon
{
  background-image: url('../assets/icons/soundcloud.png');
}


.mainContainer
{
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  height: 100%;
  min-height: 100%;
  overflow: hidden;
  background-color: $edmund;
  vertical-align: baseline;
  background-image: url('../images/bg2.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.logoimage
{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 85%;
  width: 100%;
  background-image: url('../images/BetweenWorlds.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
}

.logoimage.fullwidth
{
  width: 100%;
}

.logoimage.logooverlay
{
  width: 100%;
  background-image: url('../images/BetweenWorldsLight.png');
}


.menuoverlay
{
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background-image: url('../images/bg3.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.menufadedata
{
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.5s, visibility 0s 0.5s;
  transition: opacity 0.5s, visibility 0s 0.5s;
}

.menuopen
{
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
}

.menucontentholder
{
  color: white;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 100%;
  width: 100%;
  /*background-color: black;*/
  /*background-color: #f68815;*/
}

.menucontent
{
  color: white;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 75%;
  width: 75%;
  overflow: hidden;
  /*background-color: black;*/
  /*background-color: #f68815;*/
}

.songkick-widget
{
  width: 100%;
  height: 100%;
  border: none;
}

.smallphonewidget.songkick-widget
{
  height: 900px;
  position: static;
}

.iframewidget
{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
.menuclosebtn
{
  color: white;
  position: absolute;
  right: 5%;
  top: 5%;
  height: 5%;
  width: 5%;
  background-image: url('../icons/cross.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
}
